.searchbar {
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  border-radius: 18px;
  border: 1px solid #C4C4C4;
  background-color: #C4C4C4;
  z-index: 1001;
}

.searchbar input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  outline: none;
  background: transparent;
  border: none;
}

.searchbar input::placeholder {
  opacity: 1;
}

.searchbar:has(.dropdown) {
  border-radius: 18px 18px 0 0;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: -1px;
  width: calc(100% + 2px);
  border-top: none; /* 上の線だけ消して一体化 */
  border-radius: 0 0 18px 18px; /* 下側を丸める */

  background: #C4C4C4;
  border-top: none;

  overflow-y: auto;
  overflow: hidden; /* リストの端を丸める */

  z-index: 1000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown li {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}

.dropdown li:hover {
  background-color: #DCDCDC;
}

.dropdown li.active {
  background-color: #DCDCDC;
}
