.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 100%;
}

.container h2 {
  font-size: 2em;
}

.minmax {
  display: flex;
  margin-bottom: 30px;
}

.minmax-text {
  writing-mode: vertical-rl;
}

.section-container {
  display: flex;
}

.section-container section {
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px;
  width: 150px;
  aspect-ratio: 1 / 1;
}

.section-container p {
  font-size: 0.6em;
  color: #4F4F4F;
}

.main {
  font-size: 1.2em;
  color: #D6D6D6;
}
